.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    background-color: "lightblue";
}
.logo img {
    width: 50px;
}

.button {
    width: 1116px;
    font-size: 15;
    background-color: transparent;
    font-family: sans-serif;
}
